<!DOCTYPE html>
<html>
  <head>
    <title>Financial Projector</title>
    <style>
      body
      {
        font-family: Arial;
        font-size: 14px;
      }

      #fpApp
      {
        width: 800px;
        margin: 0 auto 0 auto;
      }

      #pnlFinancialProjection
      {
        width: 500px;
        height: 300px;
      }

      #pnlItem
      {
        width: 240px;
        height: 300px;
      }

      #pnlItems
      {
        width: 770px;
      }

      .panel
      {
        float: left;
        padding: 10px;
        border-radius: 20px;
        outline: 1px solid rgba(255, 150, 0, 0.5);
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .numeric
      {
        text-align: right;
      }

      .header
      {
        font-weight: bold;
      }

      label
      {
        width: 5em;
        font-size: 0.5em;
        float: left;
      }

      .inText
      {
        color: rgb(0, 200, 0);
      }

      .outText
      {
        color: rgb(200, 0, 0);
      }

      input[type=text], input[type=number], select
      {
        width: 10em;
        padding: 0em;
      }

      input[type=button]
      {
        width: 5em;
        height: 1.5em;
        float: right;
        margin-left: 0.5em;
        border-radius: 5px;
        background-color: rgba(255, 150, 0, 0.5);
        color: rgb(255, 255, 255);
        border: 0px solid rgb(0, 0, 0);
      }

      input[type=button]:hover
      {
        background-color: rgba(255, 150, 0, 1);
      }

      .hidden
      {
        display: none;
      }
    </style>
  </head>

  <body>

    <div id="fpApp">
      <div id="pnlFinancialProjection" class="panel">
        <table>
          <tr class="header">
            <td width="20%">MONTH</td>
            <td width="20%" class="numeric">IN</td>
            <td width="20%" class="numeric">OUT</td>
            <td width="20%" class="numeric">REMAINING</td>
            <td width="20%" class="numeric">CUMULATIVE</td> 
          </tr>

          <tr v-for="(monthItem, monthItemIndex) in monthItems" v-bind:key="monthItemIndex" v-bind:class="monthItemIndex == 0 ? 'hidden' : ''">
            <td>{{ monthItem.monthName }}</td>
            <td class="numeric inText">{{ monthItem.itemsInTotal }}</td>
            <td class="numeric outText">{{ monthItem.itemsOutTotal }}</td>
            <td v-bind:class=" monthItem.itemsInTotal + monthItem.itemsOutTotal > 0 ? 'numeric inText' : 'numeric outText'">{{ monthItem.itemsInTotal + monthItem.itemsOutTotal }}</td>
            <td v-bind:class=" monthItem.cumulative > 0 ? 'numeric inText' : 'numeric outText'">{{ monthItem.cumulative }}</td>
          </tr>
        </table>
      </div>

      <div id="pnlItem" class="panel">
        <p>
          <label for="itemMonth">Month</label>
          <br />
          <select ref="itemMonth" id="itemMOnth" v-model="items[currentIndex].month">
            <option v-for="(month, index) in months" v-bind:key="index" v-bind:value="index">
              {{ month }}
            </option>
          </select>
        </p>
        <p>
          <label for="itemName">Name</label>
          <br />
          <input ref="itemName" id="itemName" type="text" v-bind:value="items[currentIndex].name">
          <br /> {{ errors.name }}
        </p>
        <p>
          <label for="itemTypeIn">Type</label>
          <br />
          <input ref="itemTypeIn" id="itemTypeIn" name="type" type="radio" v-bind:checked="items[currentIndex].amount >= 0">In
          <input ref="itemTypeOut" id="itemTypeOut" name="type" type="radio" v-bind:checked="items[currentIndex].amount < 0">Out
        </p>
        <p>
          <label for="itemAmount">Amount</label>
          <br />
          <input ref="itemAmount" id="itemAmount" type="number" v-bind:value="Math.abs(items[currentIndex].amount)">
          <br /> {{ errors.amount }}
        </p>
        <input type="button" value="NEW" @click="setCurrentIndex(0)" v-bind:class="currentIndex == 0 ? 'hidden' : ''" />
        <input type="button" v-bind:value="currentIndex == 0 ? 'ADD' : 'UPDATE'" @click="addUpdateItem" />
      </div>
      
      <div id="pnlItems" class="panel">
        <table>
          <tr class="header">
            <td width="20%"></td>
            <td width="40%">NAME</td>
            <td width="20%" class="numeric">AMOUNT</td>
            <td width="10%"></td>
            <td width="10%"></td>
          </tr>

          <tr v-for="si in sortedItems" 
              v-bind:key="si.index" 
              v-if="si.index > 0">
            <td>{{ months[si.item.month] }}</td>
            <td>{{ si.item.name }}</td>
            <td v-bind:class=" si.item.amount > 0 ? 'numeric inText' : 'numeric outText'">{{ si.item.amount }}</td>
            <td><input type="button" value="UPDATE" @click="setCurrentIndex(si.index)" /></td>
            <td><input type="button" value="DELETE" @click="removeItem(si.index)" /></td>
          </tr>
        </table>
      </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

    <script>
      new Vue({
        el: '#fpApp',
        data: {
          currentIndex: 0,
          errors: {
            name: "",
            amount: "",
          },
          items:[
            {
              name: "",
              month: 0,
              amount: 0
            }
          ],
          monthItems: [],
          monthItemsTemplate: [
            { monthName: "", itemsIn:[], itemsInTotal:"", itemsOut:"", itemsOutTotal:"", cumulative: "" },
            { monthName: "Jan", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Feb", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Mar", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Apr", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "May", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Jun", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Jul", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Aug", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Sep", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Oct", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Nov", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Dec", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 }
          ],
          months: [
            "All", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
          ]
        },
        computed: {
          sortedItems: function() {
              return this.items
              .map((item, index) => ({ item, index }))
              .sort((a, b) => a.item.month - b.item.month);
          }
        },
        methods: {
          addUpdateItem: function() {
            this.errors.name = "";
            this.errors.amount = "";

            let nameValue = this.$refs.itemName.value.trim();
            let amountValue = parseFloat(this.$refs.itemAmount.value.trim());
            let monthValue = parseInt(this.$refs.itemMonth.value);
            let errors = 0;

            //validations
            if (nameValue == "") { this.errors.name = "Required"; errors++; }
            if (amountValue <= 0 || isNaN(amountValue)) { this.errors.amount = "Must be positive"; errors++; }
            if (errors > 0) return;

            if (this.$refs.itemTypeOut.checked) amountValue = amountValue * -1;

            if (this.currentIndex == 0) {
              this.items.push({
                name: nameValue,
                month: monthValue,
                amount: amountValue
              });              
            } else {
              this.items[this.currentIndex].name = nameValue;
              this.items[this.currentIndex].amount = amountValue;
              this.items[this.currentIndex].month = monthValue;
            }

            this.setCurrentIndex(0);
            this.sortItemOrder();
          },
          removeItem: function(index) {
            this.items.splice(index, 1);
            this.setCurrentIndex(0);
            this.sortItemOrder();
          },
          setCurrentIndex: function(val) {
            this.currentIndex = val;
          },
          sortItemOrder: function() {
            let tempMonthItems = structuredClone(this.monthItemsTemplate);

            for (let i = 1; i <= 12; i++) {
              tempMonthItems[i].itemsIn = this.items.filter((item) => {return item.amount > 0 && [0, i].indexOf(item.month) != -1});
              tempMonthItems[i].itemsOut = this.items.filter((item) => {return item.amount < 0 && [0, i].indexOf(item.month) != -1});

              tempMonthItems[i].itemsInTotal = tempMonthItems[i].itemsIn.reduce((sum, item) => sum + item.amount, 0);
              tempMonthItems[i].itemsOutTotal = tempMonthItems[i].itemsOut.reduce((sum, item) => sum + item.amount, 0);

              tempMonthItems[i].cumulative = (i > 1 ? tempMonthItems[i].itemsInTotal + tempMonthItems[i].itemsOutTotal + tempMonthItems[i - 1].cumulative : 0);
            }

            this.monthItems = structuredClone(tempMonthItems);

            console.log(this.monthItems);
          },
          filterItems: function(month, isIn) {
            if (isIn) {
              return this.items.filter((item) => { return item.month == month && item.amount > 0; });
            }

            return this.items.filter((item) => { return item.month == month && item.amount < 0; });
          }
        }
      });
    </script>
  </body>
</html>
