<!DOCTYPE html>
<html>
  <head>
    <title>Financial Projector</title>
    <style>
      body
      {
        font-family: Arial;
        font-size: 14px;
      }

      #fpApp
      {
        width: 800px;
        margin: 0 auto 0 auto;
      }

      #pnlFinancialProjection
      {
        width: 500px;
        height: 200px;
      }

      #pnlFinancialProjection .row div
      {
        width: 10em;
        float: left;
        text-align: right;
      }

      #pnlItem
      {
        width: 240px;
        height: 200px;
      }

      #pnlItems
      {
        width: 770px;
        height: 500px;
      }

      .panel
      {
        float: left;
        padding: 10px;
        border-radius: 20px;
        outline: 1px solid rgba(255, 150, 0, 0.5);
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .header
      {
        font-weight: bold;
      }

      label
      {
        width: 5em;
        float: left;
        margin-bottom: 1em;
      }

      .hidden
      {
        display: none;
      }
    </style>
  </head>

  <body>

    <div id="fpApp">
      <div id="pnlFinancialProjection" class="panel">
        <div class="header row">
          <div>MONTH</div>
          <div>IN</div>
          <div>OUT</div>
          <div>REMAINING</div>
          <div>CUMULATIVE</div> 
          <br />         
        </div>

        <div class="row" v-for="(monthItem, monthItemIndex) in monthItems" v-bind:key="monthItemIndex" v-bind:class="monthItemIndex == 0 ? 'hidden' : ''">
          <div class="monthName">{{ monthItem.monthName }}</div>
          <div class="in">
            {{ monthItem.itemsInTotal }}
            <div v-for="(itemIn, itemInIndex) in monthItem.itemsIn" v-bind:key="itemInIndex">
            </div>
          </div>
          <div class="out">
            {{ monthItem.itemsOutTotal }}
            <div v-for="(itemOut, itemOutIndex) in monthItem.itemsOut" v-bind:key="itemOutIndex">
            </div>
          </div>
          <div class="remaining">{{ monthItem.itemsInTotal + monthItem.itemsOutTotal }}</div>
          <div class="cumulative">{{ monthItem.cumulative }}</div>
          <br />
        </div>

        <div class="footer">
          <div class="monthName">Total</div>
          <div class="in"></div>
          <div class="out"></div>
          <div class="remaining"></div>
          <div class="cumulative"></div>
        </div>
      </div>

      <div id="pnlItem" class="panel">
        <p>
          <label>Month:</label>
          <select ref="itemMonth" v-model="items[currentIndex].month">
            <option v-for="(month, index) in months" v-bind:key="index" v-bind:value="index">
              {{ month }}
            </option>
          </select>
        </p>
        <p>
          <label>Name</label>
          <input ref="itemName" v-bind:value="items[currentIndex].name">
          <br /> {{ errors.name }}
        </p>
        <p>
          <label>Type</label>
          <input ref="itemTypeIn" name="type" type="radio" v-bind:checked="items[currentIndex].amount >= 0">In
          <input ref="itemTypeOut" name="type" type="radio" v-bind:checked="items[currentIndex].amount < 0">Out
        </p>
        <p>
          <label>Amount</label>
          <input ref="itemAmount" type="number" v-bind:value="Math.abs(items[currentIndex].amount)">
          <br /> {{ errors.amount }}
        </p>
        <input type="button" value="NEW" @click="setCurrentIndex(0)" v-bind:class="currentIndex == 0 ? 'hidden' : ''" />
        <input type="button" v-bind:value="currentIndex == 0 ? 'ADD' : 'UPDATE'" @click="addUpdateItem" />
      </div>
      
      <div id="pnlItems" class="panel">

      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

    <script>
      new Vue({
        el: '#fpApp',
        data: {
          currentIndex: 0,
          errors: {
            name: "",
            amount: "",
          },
          items:[
            {
              name: "",
              month: 0,
              amount: 0
            }
          ],
          monthItems: [
            { monthName: "", itemsIn:[], itemsInTotal:"", itemsOut:"", itemsOutTotal:"", cumulative: "" },
            { monthName: "Jan", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Feb", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Mar", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Apr", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "May", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Jun", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Jul", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Aug", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Sep", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Oct", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Nov", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
            { monthName: "Dec", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 }
          ],
          months: [
            "All", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
          ]
        },
        methods: {
          addUpdateItem: function(index) {
            this.errors.name = "";
            this.errors.amount = "";

            let nameValue = this.$refs.itemName.value.trim();
            let amountValue = parseFloat(this.$refs.itemAmount.value.trim());
            let monthValue = parseInt(this.$refs.itemMonth.value);
            let errors = 0;

            //validations
            if (nameValue == "") { this.errors.name = "Required"; errors++; }
            if (amountValue <= 0 || isNaN(amountValue)) { this.errors.amount = "Must be positive"; errors++; }
            if (errors > 0) return;

            if (this.$refs.itemTypeOut.checked) amountValue = amountValue * -1;

            if (index == 0) {
              this.items.push({
                name: nameValue,
                month: monthValue,
                amount: amountValue
              });              
            } else {
              this.items[i].name = nameValue;
              this.items[i].amount = amountValue;
              this.items[i].month = monthValue;
            }

            this.setCurrentIndex(0);
            this.sortItemOrder();
          },
          removeItem: function(index) {
            this.items.splice(index, 1);
            this.setCurrentIndex(0);
          },
          setCurrentIndex: function(val) {
            this.currentIndex = val;
          },
          sortItemOrder: function() {
            let tempMonthItems = [
              { monthName: "", itemsIn:[], itemsInTotal:"", itemsOut:"", itemsOutTotal:"", cumulative: "" },
              { monthName: "Jan", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Feb", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Mar", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Apr", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "May", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Jun", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Jul", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Aug", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Sep", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Oct", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Nov", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 },
              { monthName: "Dec", itemsIn:[], itemsInTotal:0, itemsOut:[], itemsOutTotal:0, cumulative: 0 }
            ];

            for (let i = 1; i <= 12; i++) {
              tempMonthItems[i].itemsIn = this.items.filter((item) => {return item.amount > 0 && [0, i].indexOf(item.month) != -1});
              tempMonthItems[i].itemsOut = this.items.filter((item) => {return item.amount < 0 && [0, i].indexOf(item.month) != -1});

              tempMonthItems[i].itemsInTotal = tempMonthItems[i].itemsIn.reduce((sum, item) => sum + item.amount, 0);
              tempMonthItems[i].itemsOutTotal = tempMonthItems[i].itemsOut.reduce((sum, item) => sum + item.amount, 0);

              tempMonthItems[i].cumulative = (i > 1 ? tempMonthItems[i].itemsInTotal + tempMonthItems[i].itemsOutTotal + tempMonthItems[i - 1].cumulative : 0);
            }

            this.monthItems = tempMonthItems;

            console.log(this.monthItems);
          }
        }
      });
    </script>
  </body>
</html>
